<div *ngIf="carro">
  <div>
    <h2 class="colorWhite">Sobre o carro: {{carro.mod}}</h2>
    <div>
      <label for="carro-cod">Identificação: </label><br>
      <input id="carro-cod" [(ngModel)]="carro.cod" placeholder="Código">
    </div>
    <div>
      <label for="carro-mod">Modelo: </label><br>
      <input id="carro-mod" [(ngModel)]="carro.mod" placeholder="Modelo">
    </div>
    <div>
      <label for="carro-pre">Preço (R$): </label><br>
      <input id="carro-pre" [(ngModel)]="carro.pre" placeholder="Preço">
    </div>
    <div>
      <label for="carro-ano">Ano de Fab.: </label><br>
      <input id="carro-ano" [(ngModel)]="carro.ano" placeholder="Ano">
    </div>
  </div>
</div> 