nav {
    display: flex;
    flex-direction: row;
}

.botao1 {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: greenyellow;
    margin: 5px;
    text-align: center;
    padding-top: 5px;
    transition: .3s;
}

.botao1:hover {
    background-color: indianred;

}

a {
    text-decoration: none;
    cursor: pointer;
}


